#home {
    box-sizing: border-box;
    height: calc(100% - 10vw);
    width: 100%;
    max-width: 100%;
}

#name-container {
    position: absolute;
    margin: 6vh 0 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#name {
    font-size: 4vw;
}

#description {
    font-size: 2vw;
}

#link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 8vh;
}

.about-link {
    font-size: 1.25vw;
    margin-top: 1vh;
    text-decoration: underline;
    color: white;
}

.about-link:hover {
    color: palegoldenrod;
}

#home-pic {
    position: absolute;
    height: 30vw;
    border-radius: 50%;
    top: calc(50% - 15vw);
    right: 20vw;
}